<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testcell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wave"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestCell">
        <activity android:name=".voiceOfCustomer"></activity>
        <activity android:name=".pickFunction" />
        <activity android:name=".tutAct" />
        <activity android:name=".profileUser" />
        <activity android:name=".signInAct" />
        <activity android:name=".firstSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".opiniAct" />
        <activity android:name=".bugReportAct" />
        <activity
            android:name=".TestAct"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.TestCell.NoActionBar" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>